<div class="container" *ngIf="activeResponse && activeResponse.actionPlan && activeResponse.actionPlan.openActions.length > 0">
  <div class="header">UPDATE {{activeResponse.actionPlan.name}} RESPONSE</div>
  <div class="subheader success" *ngIf="updateSucceeded && !modified">Updates successfullly sent</div>
  <div>
    <button class="app-button secondary" (click)="onCancel()">GO BACK</button>
    <button class="app-button primary" (click)="onUpdate()" [disabled]="!modified" [ngClass]="{'disabled': !modified}">SEND
      UPDATES</button>
  </div>
  <app-action-list [actions]="activeResponse.actionPlan.openActions" [canUpdate]="true" (onchange)="updated()"></app-action-list>
</div>
